.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.text-base {
  font-size: 1rem;
}
.subtitle {
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #868e96;
  font-weight: bold;
}
.carousel-inner > .carousel-item > img {
  width:19.2%;
}
